PUID=1000
PGID=1000
APP_KEY=
DB_CONNECTION=sqlite
DISPLAY_TIMEZONE=America/Sao_Paulo
PUBLIC_DASHBOARD=true
SPEEDTEST_SCHEDULE="*/30 * * * *"
APP_URL="https://speedtest2.calegaro.net"
ASSET_URL="https://speedtest2.calegaro.net"

