*.log
stack.env
.env
.env.production
*.db
*.sqlite

/grafana/data/*
!/grafana/data/.gitkeep
/homepage/config/logs
/influxdb-pfsense/data/*
!/influxdb-pfsense/data/.gitkeep
/influxdb-v2/data/*
!/influxdb-v2/data/.gitkeep
/navidrome/data/*
!/navidrome/data/.gitkeep
/speedtest-tracker/config/*
!/speedtest-tracker/config/.gitkeep
